.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px black solid;
  padding: 30px 50px;
  width: clamp(500px, 85vw, 2000px);

  .link-wrapper {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    padding: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: italic;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
}

.dropdown {
  background-color: rgb(244, 242, 230);
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  * {
    padding: 0px 5px;
  }

  a {
    display: flex;
    width: 100px;
    border: 1px solid red;
  }
}

@media (max-width: 600px) {
  .header .link-wrapper {
    justify-content: center;
    width: 50px;
  }
}
